<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container" style="max-width: 800px;">
    <a class="navbar-brand mb-0 h1" href="/index">Omkar Oak</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
      </ul>
    </div>
    <div class="navbar-text">
      {% if page.lang == "ja" %}
  <button
    class="btn btn-secondary btn-sm"
    onclick="window.location.href='{{ '/' | relative_url }}'">
    English
  </button>
  {% else %}
    <button
      class="btn btn-secondary btn-sm"
      onclick="window.location.href='{{ '/ja/' | relative_url }}'">
      日本語
    </button>
  {% endif %}

    </div>
  </div>
</nav>