{%- include head.html -%}

<body> {%- include header.html -%} 
<div class="container" style="max-width: 800px;">
<!-- Profile Section -->
<div class="row mt-3">
  <div class="col-sm-3">
    <img src="{{ '/assets/prof_pic.png' | relative_url }}"
         class="img-fluid rounded-lg mb-2"
         style="max-width: 150px;"
         alt="Profile pic">
  </div>

  <div class="col-sm-9">
    <h2>
      {% if page.lang == "ja" %}
        {{ site.data.about.ja.name }}
      {% else %}
        {{ site.data.about.en.name }}
      {% endif %}
    </h2>

    <!-- <h5>
      {% if page.lang == "ja" %}
        {{ site.data.about.ja.title }}
      {% else %}
        {{ site.data.about.en.title }}
      {% endif %}
    </h5>

    <h6>
      {% if page.lang == "ja" %}
        {{ site.data.about.ja.location }}
      {% else %}
        {{ site.data.about.en.location }}
      {% endif %}
    </h6> -->

    <p>
      {% if page.lang == "ja" %}
        {{ site.data.about.ja.intro }}
      {% else %}
        {{ site.data.about.en.intro }}
      {% endif %}
    </p>
    <!-- <p>
      {% if page.lang == "ja" %}
        {{ site.data.about.ja.extra }}
      {% else %}
        {{ site.data.about.en.extra }}
      {% endif %}
    </p> -->
  </div>
</div>

<!-- Extra Info Section -->
<div class="d-flex flex-row">
  <div class="pr-3">
    {% if page.lang == "ja" %}
      <p>{{ site.data.about.ja.extra }}</p>
    {% else %}
      <p>{{ site.data.about.en.extra }}</p>
    {% endif %}
  </div>
</div>

<!-- Address + Email Section -->
<div class="row mb-2">
  <div class="col-sm-6">
    <div class="d-inline">
      <i class="fa fa-home"></i>
      {% if page.lang == "ja" %}
        {{ site.data.about.ja.address }}
      {% else %}
        {{ site.data.about.en.address }}
      {% endif %}
    </div>
  </div>

  <div class="col-sm-6">
    <div class="d-flex flex-row">
      <div class="pr-3" style="font-size: 1em;">
        <i class="fa-solid fa-envelope"></i>
        <code>oak</code> [at]
        <code>cvm.t.u-tokyo.ac.jp</code>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-sm-2">
    <div class="d-flex flex-row">
      <div class="pr-3">
        <i class="fa-solid fa-file"></i>
        <a href="{{ '/assets/OmkarOakCV.pdf' | relative_url }}">CV</a>
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="d-flex flex-row">
      <div class="pr-3">
        <i class="fa-brands fa-github"></i>
        {{ site.data.about.github }}
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="d-flex flex-row">
      <div class="pr-3">
        <i class="fa-brands fa-square-linkedin"></i>
        {{ site.data.about.linkedin }}
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="d-flex flex-row">
      <div class="pr-3">
        <i class="fa-solid fa-graduation-cap"></i>
        {{ site.data.about.google-scholar }}
      </div>
    </div>
  </div>

</div>

<!-- News Section -->
<!-- <div class="row mb-3">
  <div class="col-sm-12">
    <section id="News">
      <h2>
          {% if page.lang == "ja" %}
            ニュース
          {% else %}
            News
          {% endif %}
      </h2>
    </section>

    <ul class="overflow-auto bg-light border rounded pt-2"
        style="max-height: 300px;">

      {% if page.lang == "ja" %}
        {% for item in site.data.news.ja %}
          <li>[ {{ item.date }} ] {{ item.text }}</li>
        {% endfor %}
      {% else %}
        {% for item in site.data.news.en %}
          <li>[ {{ item.date }} ] {{ item.text }}</li>
        {% endfor %}
      {% endif %}

    </ul>
  </div>
</div> -->

<!-- Publications Section -->
<div class="row mb-3">
  <div class="col-sm-12">
    <section id="Publications">
      <h2>
        <!-- {% if page.lang == "ja" %}
          論文
        {% else %}
          Publications
        {% endif %} -->
        Publications
      </h2>
    </section>

  <ol style="padding-left: 0; margin-left: 0; list-style-type: none;">
  {% assign total_size = site.data.publications | size %}
  {% assign reversed_pubs = site.data.publications | reverse %}
  {% for pub in reversed_pubs %}
    {% assign item_index = total_size | minus: forloop.index0 %}
    <li style="display: flex; margin-bottom: 0.75rem;">
      <div style="flex-shrink: 0; width: 2rem;">[{{ item_index }}]</div>
      <div style="flex-grow: 1;">
        <div><strong>{{ pub.name }}</strong></div>
        <div>{{ pub.authors }}</div>
        <div>
          {{ pub.publisher }}
          <a href="{{ pub.link }}" class="badge badge-primary"> {% if page.lang == "ja" %} 論文 {% else %} Paper {% endif %} </a>
          <a href="{{ pub.code }}" class="badge badge-primary"> {% if page.lang == "ja" %}コード {% else %} Code {% endif %} </a>
        </div>
      </div>
    </li>
  {% endfor %}
</ol>
  </div>
</div>

<!-- Cool Stuff Section -->
<div class="row mb-3">
  <div class="col-sm-12">

    <section id="CoolStuff">
      <h2>
          <!-- {% if page.lang == "ja" %}
            面白いもの
          {% else %}
            Cool Stuff
          {% endif %} -->
          Cool Stuff
      </h2>
    </section>

    <ul style="padding-left: 1.25rem">
      {% for item in site.data.cool_stuff %}
        <li class="mb-3">
          <strong>{{ item.title }}</strong>
          <em>{{ item.content }}</em> &ndash;
          <a href="{{ item.link }}">{{ item.author }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>

</div> </body>

{%- include footer.html -%}

</html>