---
layout: default
---
<style>
  .profile-container {
  position: relative;
  width: 100%;
  padding-bottom: 115%; /* Adjusted for taller rectangle aspect ratio */
  overflow: hidden;
  }

  .profile-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.4;
  }

  .main-table {
  width:100%;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  }
</style>

<article class="post">

  <!-- <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header> -->

  <div class="post-content">
    <table class="main-table" id="profile-table">
        <tbody>
          <tr style="padding:0px; border:0px">
            <td style="padding:0px; width:70%;vertical-align:middle; border:0px">
              <p>
                {{content}}
              </p>

              <p style="text-align:center">
                  <a href="mailto:oakos21.comp@coeptech.ac.in" target="_blank">Email</a> &nbsp/&nbsp
                  <a href="https://drive.google.com/file/d/17Bdxor0NDWaSoSficM4pIL15N1RVlyL6/view?usp=sharing" target="_blank">CV</a> &nbsp/&nbsp
                  <a href="https://github.com/omkarsoak" target="_blank">Github</a> &nbsp/&nbsp
                  <a href="https://scholar.google.com/citations?user=B2iuCpQAAAAJ" target="_blank">Google Scholar</a> &nbsp/&nbsp
                  <a href="https://www.linkedin.com/in/omkaroak/" target="_blank">LinkedIn</a>
              </p>
  
            </td>
            <td style="padding-right:0px; padding-left:20px; width:30%; border:0px; vertical-align:top">
              <div class="profile-container" style="text-align: right;">
              <img alt="profile photo" src="assets/prof_pic.jpg" class="profile-img" style="float: right;">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

</article>
