{%- include head.html -%}

<body>
  {%- include header.html -%}

  <div class="container" style="max-width: 800px;">
    <div class="row mt-4">
      <div class="col-12">
        <article>
          <header class="mb-4" style="border-bottom: 1px solid #e7e7e7; padding-bottom: 1rem;">
            <h1 class="h2">{{ page.title | escape }}</h1>
          </header>

          <div class="content">
            {{ content }}
          </div>
        </article>
      </div>
    </div>
  </div>
</body>

{%- include footer.html -%}

</html>
