{%- include head.html -%}

<body>
  {%- include header.html -%}

  <div class="container" style="max-width: 800px;">
    <div class="row mt-4">
      <div class="col-12">
        <article class="h-entry" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="mb-4" style="border-bottom: 1px solid #e7e7e7; padding-bottom: 1rem;">
            <h1 class="h2 p-name" itemprop="name headline">{{ page.title | escape }}</h1>
            <div class="text-muted">
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                <i class="fa fa-calendar mr-2"></i>
                {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
                {{ page.date | date: date_format }}
              </time>
              {%- if page.author -%}
                • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <i class="fa fa-user ml-2 mr-1"></i>
                    <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
                  </span>
              {%- endif -%}
            </div>
          </header>

          <div class="e-content" itemprop="articleBody">
            {{ content }}
          </div>

          {%- if site.disqus.shortname -%}
          <div class="mt-5">
            {%- include disqus_comments.html -%}
          </div>
          {%- endif -%}

          <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

        </article>
      </div>
    </div>
  </div>
</body>

{%- include footer.html -%}

</html>
